<?xml version="1.0" encoding="utf-8"?>
<configuration><appSettings>
  <add key="Label0" value="0" />
  <add key="Label1" value="1" />
  <add key="Label2" value="2" />
  <add key="Label3" value="3" />
  <add key="Label4" value="4" />
  <add key="Label5" value="5" />
  <add key="Label6" value="6" />
  <add key="Label7" value="7" />
  <add key="Label8" value="8" />
  <add key="Label9" value="9" />
  <add key="Label10" value="10" />
  <add key="Label11" value="11" />
  <add key="LabelCount" value="Twelve" />
  <add key="ConsoleDraw" value="False" />
</appSettings></configuration>